{% extends 'index.html' %}
{% load static %}
{%  block page %}
{% load i18n %}

<div class="container">
         <div class="box_section">
            <div class="online_box">
               <div class="online_box_left">
                  <div class="online_box_main">
                     <div class="box_left">
                        <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
                     </div>
                     <div class="box_right">
                        <p class="book_text">{% trans 'Бронь' %}</p>
                        <h4 class="appoinment_text">{% trans 'Встреча' %}</h4>
                     </div>
                  </div>
               </div>
               <div class="online_box_left active">
                  <div class="online_box_main">
                     <div class="box_left">
                        <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
                     </div>
                     <div class="box_right">
                        <p class="book_text active">{% trans 'Бесплатно' %}</p>
                        <h4 class="appoinment_text active">{% trans 'Оценка' %}</h4>
                     </div>
                  </div>
               </div>
               <div class="online_box_left">
                  <div class="online_box_main">
                     <div class="box_left">
                        <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
                     </div>
                     <div class="box_right">
                        <p class="book_text">{% trans 'Оплата счёта' %}</p>
                        <h4 class="appoinment_text">Online</h4>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- box section end -->
      <!-- services section start -->
      <div class="services_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="studies_taital">{% trans 'СЕРВИСНЫЕ ПРЕДЛОЖЕНИЯ' %}</h1>
               </div>
            </div>
         </div>
         <div class="services_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-1.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-4.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">{% trans 'Корпоративное право' %}</h3>
                                 <p class="chunks_text">{% trans 'куски по мере необходимости, что делает его первым настоящим генератором в Интернете. Он использует словарь' %}</p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box active">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">{% trans 'Трудовое право' %}</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button active"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-3.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-6.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">{% trans 'Международное право' %}</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-1.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-4.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Corporate Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box active">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Employments Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button active"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-3.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-6.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">International Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-1.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-4.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Corporate Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box active">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-5.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Employments Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button active"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="{% static 'images/icon-3.png' %}" class="image_1">
                                    <img src="{% static 'images/icon-6.png' %}" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">International Law</h3>
                                 <p class="chunks_text">chunks as necessary, making this the first true generator on the Internet. It uses a dictionary </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- studies section start -->
      <div class="studies_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="studies_taital">{% trans 'Недавние тематические исследования' %}</h1>
               </div>
            </div>
            <div class="studies_section_2">
               <div class="row">
                  {% for s in studies %}
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="{{ s.image.url }}"></figure>
                     </div>
                     <div class="studies_box">
                        <h3 class="introduction_text">{{ s.desc }}</h3>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- studies section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>
               </div>
               <div class="col-md-6">
                  <div class="about_text_main">
                     <h1 class="about_taital">{% trans 'О нас' %}</h1>
                     <p class="about_text">anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                     <div class="readmore_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- testimonial section start -->
      <div class="customer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="customer_taital">{% trans 'ДОВОЛЬНЫЙ КЛИЕНТ Говорит' %}</h1>
               </div>
            </div>
         </div>
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="customer_section_2">
                     <div class="container">
                        <div class="row">
                           {% for r in reviews %}
                           <div class="col-md-12">
                              <div class="box_main">
                                 <div class="customer_main">
                                    <div class="customer_left">
                                       <div class="customer_img"><img src="{{ r.image.url }}"></div>
                                    </div>
                                    <div class="customer_right">
                                       <h3 class="customer_name">{{ r.title }}<span class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></span></h3>
                                       <p class="enim_text">{{ r.desc }}</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
            </a>
         </div>
      </div>
      <!-- testimonial section end -->
      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">{% trans 'Последние новости' %}</h1>
            {% for n in news %}
            <div class="news_section_2">
               <div class="news_box">
                  <div id="custom_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                        </div>
                        <div class="carousel-item">
                           <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                        </div>
                        <div class="carousel-item">
                           <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                        </div>
                     </div>
                     <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
                     <i class="fa fa-arrow-right"></i>
                     </a>
                  </div>
                  <h2 class="does_taital">{{ n.title }}</h2>
                  <p class="dummy_text">{{ n.desc }}</p>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <!-- news section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital">{% trans 'Бесплатная консультация' %}</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="">
                           <input type="text" class="mail_text" placeholder="Name" name="Name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                           <input type="text" class="mail_text" placeholder="Your Email" name="Your Email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                           <div class="send_bt active"><a href="#">Send Now</a></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock %}